# Logs
*.log
log/

# ignore configs
config/environments/development/*.doctrine.yaml
config/environments/development/*.abr.yaml
config/environments/development/*.mail.yaml

config/environments/test/*.doctrine.yaml
config/environments/test/*.abr.yaml
config/environments/test/*.mail.yaml

config/environments/production/*.doctrine.yaml
config/environments/production/*.abr.yaml
config/environments/production/*.mail.yaml

# ignore documentation
docs_generated

#Api Vendors
vendor/

#Api Cache
cache/

#Api Settings
settings.php