# Logs
*.log
log/

# ignore configs
config/environments/**/*.abr.yaml
config/environments/**/*.doctrine.yaml
config/environments/**/*.mail.yaml

# ignore documentation
docs_generated

#Api Vendors
vendor/

#Api Cache
cache/

#Api Settings
settings.php