<table class="head-wrap">
  <tr>
    <td>&nbsp;</td>
    <td class="header container">
      <div class="content">
        <table>
          <tr>
            <td>
              <img src="http://placehold.it/200x50/" />
            </td>
            <td align="right">
              <h6 class="collapse">Hero</h6>
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>